.second{
    background-color: silver;
    text-align: center;
}
.first{
    text-emphasis: right;
    margin-top: 50px;
}
.picture{
    size: 0%;
    padding: 20%; 
    width: 500px;
    line-height; -10px;
}
.whole{
    width: 50%;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}
.part3{
text-align: center;
}
.image{
    width: 500px;
}
.word{
    text-align: right;
}
.intro{
    opacity: 0.5;
}
.whole{
    margin: auto; 
    background-color: white;
    font-family: serif;
}